@{
    Layout = "_LayoutLogged";
    ViewData["Title"] = "Summary";
}


<div class="container-fluid">
    <div class="text-center py-1 bg-white">
        <span>←</span> <span class="text-capitalize">@Html.Raw(ViewBag.Month)</span> <span>→</span>
    </div>
    <main role="main" class="pb-3">
        <div class="card shadow p-3 my-1 bg-white rounded border-0 mb-4">
            <div class="card-body ">
                <div class="row">
                    <div class="col-lg-4 d-flex estado my-3">
                        <div class="mx-auto text-center">
                            <h1 class="text-dark fs-4">Incomes</h1>
                            <span id="incomes" class="text-success">@Html.Raw(ViewBag.Summary.incomes)€</span>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex estado my-3">
                        <div class="mx-auto text-center">
                            <h1 class="text-dark fs-4">Expenses</h1>
                            <span id="expenses" class="text-danger">@Html.Raw(ViewBag.Summary.expenses)€</span>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex my-3">
                        <div class="mx-auto text-center">
                            <h1 class="font-weight-bold text-dark fs-4">Total</h1>
                            <span id="total" class="text-dark">@Html.Raw(ViewBag.Summary.total)€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow p-3 my-1 bg-white rounded border-0">
            <div class="card-body ">
                <canvas id="summaryChart" style="display: block; box-sizing: border-box;max-width:600px;margin: 0 auto;" class="w-100"></canvas>
            </div>
        </div>
    </main>
</div>

@section scripts {
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js" integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script>

<script>
      const ctx = document.getElementById('summaryChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: 'Transactions summary',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },options: {
            indexAxis: 'y',
    }
      });
</script>
}

