@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex aligns-items-center justify-content-center" style="height:100%;">
    <div class="d-flex justify-content-center flex-column m-3">
        <h4 class="fs-4 text-center">Unexpected error</h4>
        <div class="d-flex flex-column">
            <img alt="error image" src="~/img/400.jpg" class="w-100" style="max-width:500px;" />
            @if (Model.ShowRequestId)
            {
                <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
            }
            <a class="text-decoration-none" asp-action="Index" asp-controller="Home">Go home</a>
        </div>
    </div>
</div>
